.container{
    display: flex;
    flex-flow: row ;
    background-color: black;
    justify-content: flex-start;
  
  

}
.item
{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin: 5px;

}
button{
    font-size: 40px;
    background-color: black;
    color: skyblue;
    border-radius: 10px;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
#HH{
    background-color: yellow;
    color: black;
    font-size: 35px;
    border-radius: 10px;
}
#SS{
    background-color: yellow;
    color: black;
    font-size: 35px;
    border-radius: 10px;
}
#MM{
    background-color: yellow;
    color: black;
    font-size: 35px;
    border-radius: 10px;
}
#screen{color: red;}

h1{color: blue;}